@font-face {
    font-family: 'PANGAIA';
    src: url('/fonts/PANGAIA-Grade_01.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PANGAIA';
    src: url('/fonts/PANGAIA-Grade_02.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'PANGAIA';
    src: url('/fonts/PANGAIA-Grade_03.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PANGAIA';
    src: url('/fonts/PANGAIA-Grade_04.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PANGAIA';
    src: url('/fonts/PANGAIA-Grade_05.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PANGAIA';
    src: url('/fonts/PANGAIA-Grade_06.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'HW Cigars';
    src: url('/fonts/HW-Cigars_Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}